# The details of most viewed videos on YouTube from Wikipedia:

In [48]:
import selenium
from selenium import webdriver
import time
import pandas as pd

In [49]:
driver=webdriver.Chrome()

In [50]:
pg=driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")
pg

In [51]:
Rank=[]
Nm=[]
Artist=[]
Upload_date=[]
Views=[]

for i in driver.find_elements_by_xpath("//a[@class='mw-redirect']"):
    Nm.append(i.text)
    
for r in driver.find_elements_by_xpath("//a[@class='mw-redirect']"):
    Nm.append(r.text)
    
Nm

['music videos',
 'Baby Shark Dance',
 'Baby Shark Dance',
 'Baby Shark Dance',
 'Cocomelon – Nursery Rhymes',
 'Major Lazer Official',
 'Cocomelon – Nursery Rhymes',
 'Cocomelon – Nursery Rhymes',
 'The Gummy Bear Song',
 'Fueled By Ramen',
 'The Gummy Bear Song',
 'Osito Gominola – Full Spanish Version – The Gummy Bear Song',
 'Baby Shark Dance',
 'Closer',
 'Cocomelon – Nursery Rhymes',
 'Cocomelon – Nursery Rhymes',
 'Baby Shark Dance',
 'List of most-viewed online trailers in the first 24 hours',
 'regional restrictions',
 'regional restrictions',
 'Wired',
 '',
 '']

# 2. The details team India’s international fixtures from bcci.tv

In [25]:
driver.get("https://www.bcci.tv/international/fixtures")

In [28]:
Date=[]
date=driver.find_elements_by_xpath("//span[@class='fixture__datetime tablet-only']")
for d in date:
    Date.append(d.text)
    
Date

['Friday 18th June 15:30 IST',
 'Wednesday 4th August 15:30 IST',
 'Thursday 12th August 15:30 IST',
 'Wednesday 25th August 15:30 IST',
 'Thursday 2nd September 15:30 IST',
 'Friday 10th September 15:30 IST']

In [29]:
Ground=[]
G=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']")
for g in G:
    Ground.append(g.text)
    
Ground

['Final The Ageas Bowl, Southampton',
 '1st Test Trent Bridge, Nottingham',
 "2nd Test Lord's, London",
 '3rd Test Headingley, Leeds',
 '4th Test The Oval, London',
 '5th Test Old Trafford, Manchester']

In [30]:
Match=[]
m=driver.find_elements_by_xpath("//div[@class='fixture__teams']")
for v in m:
    Match.append(v.text)
    
Match

['INDIA\nNEW ZEALAND',
 'ENGLAND\nINDIA',
 'ENGLAND\nINDIA',
 'ENGLAND\nINDIA',
 'ENGLAND\nINDIA',
 'ENGLAND\nINDIA']

In [31]:
df=pd.DataFrame({'Date':Date,
                'Ground':Ground,
                'Match':Match})

df

,Date,Ground,Match
0,Friday 18th June 15:30 IST,"Final The Ageas Bowl, Southampton",INDIA\nNEW ZEALAND
1,Wednesday 4th August 15:30 IST,"1st Test Trent Bridge, Nottingham",ENGLAND\nINDIA
2,Thursday 12th August 15:30 IST,"2nd Test Lord's, London",ENGLAND\nINDIA
3,Wednesday 25th August 15:30 IST,"3rd Test Headingley, Leeds",ENGLAND\nINDIA
4,Thursday 2nd September 15:30 IST,"4th Test The Oval, London",ENGLAND\nINDIA
5,Friday 10th September 15:30 IST,"5th Test Old Trafford, Manchester",ENGLAND\nINDIA

3. Guru -99

In [13]:
driver.get("http://statisticstimes.com/economy/india/indian-states-gdp.php")

In [22]:
Rank=[]
State=[]
GSDP=[]

for r in driver.find_elements_by_xpath("//td[@class='data1']"):
    Rank.append(r.text)
for n in driver.find_elements_by_xpath("//td[@class='name']"):
    State.append(n.text)
gsdp=driver.find_elements_by_xpath("//td[@class='data sorting_1']")
for g in gsdp:
    if g.text is None:
        GSDP.append("NA")
    else:
        GSDP.append(g.text)

            
        
    
GSDP

['1,845,853',
 '1,687,818',
 '1,631,977',
 '1,253,832',
 '1,020,989',
 '972,782',
 '969,604',
 '906,672',
 '856,112',
 '831,610',
 '611,804',
 '574,760',
 '521,275',
 '329,180',
 '328,598',
 '165,472',
 '80,449',
 '55,984',
 '38,253',
 '36,572',
 '32,496',
 '31,790',
 '26,503',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '-',
 '2,332,992',
 '1,465,361',
 '1,404,761',
 '1,351,553',
 '1,322,936',
 '995,502',
 '845,247',
 '782,370',
 '776,140',
 '737,156',
 '707,542',
 '704,529',
 '666,075',
 '486,776',
 '472,506',
 '428,031',
 '282,782',
 '271,990',
 '266,537',
 '221,871',
 '133,303',
 '129,877',
 '66,060',
 '44,835',
 '37,571',
 '31,415',
 '29,544',
 '25,323',
 '25,141',
 '24,534',
 '22,488',
 '20,947',
 '-']

In [33]:
Odd=[]
Even=[]
for u in driver.find_elements_by_xpath("//tr[@class='odd']"):
    Odd.append(u.text)
for e in driver.find_elements_by_xpath("//tr[@class='even']"):
    Even.append(e.text)
    
d=Odd+Even
d

d

['2 Tamil Nadu 1,845,853 1,630,208 8.59% 246.529 1,312,929 1,215,307',
 '5 Karnataka 1,631,977 1,493,127 7.87% 225.798 1,156,039 1,091,077',
 '7 Rajasthan 1,020,989 942,586 4.97% 142.543 711,627 677,428',
 '9 Telangana 969,604 861,031 4.54% 130.210 663,258 612,828',
 '12 Delhi 856,112 774,870 4.08% 117.180 634,408 590,569',
 '14 Bihar 611,804 530,363 2.80% 80.204 414,977 375,651',
 '16 Odisha 521,275 487,805 2.57% 73.768 396,499 376,877',
 '19 Jharkhand 328,598 297,204 1.57% 44.945 240,036 224,986',
 '23 Goa 80,449 73,170 0.39% 11.065 63,408 57,787',
 '26 Puducherry 38,253 34,433 0.18% 5.207 25,093 23,013',
 '28 Sikkim 32,496 28,723 0.15% 4.344 20,017 18,722',
 '32 Mizoram 26,503 22,287 0.12% 3.370 18,797 16,478',
 '4 Gujarat - 1,502,899 7.92% 227.276 - 1,186,379',
 '17 Assam - 315,881 1.67% 47.769 - 234,048',
 '21 Jammu & Kashmir - 155,956 0.82% 23.584 - 112,755',
 '30 Nagaland - 27,283 0.14% 4.126 - 17,647',
 '33 Andaman & Nicobar Islands - - - - - -',
 '1 Maharashtra - 2,332,992 13.90% - 1,794,123',
 '3 Uttar Pradesh 1,495,758 1,404,761 8.37% 1,015,735 979,159',
 '5 Gujarat - 1,322,936 7.88% - 1,036,859',
 '7 Rajasthan 916,014 845,247 5.03% 630,693 600,433',
 '9 Andhra Pradesh 875,429 776,140 4.62% 595,605 550,584',
 '11 Kerala - 707,542 4.21% - 513,322',
 '13 Haryana 755,790 666,075 3.97% 514,983 477,834',
 '15 Punjab 517,521 472,506 2.81% 374,015 354,830',
 '17 Assam - 282,782 1.68% - 207,193',
 '19 Chhattisgarh 288,041 266,537 1.59% 210,837 200,453',
 '21 Himachal Pradesh 143,063 133,303 0.79% 107,171 101,534',
 '23 Goa 72,181 66,060 0.39% 56,810 51,878',
 '25 Chandigarh - 37,571 0.22% - 27,565',
 '27 Meghalaya 32,833 29,544 0.18% 23,564 21,779',
 '29 Sikkim 28,391 25,141 0.15% 17,060 15,972',
 '31 Arunachal Pradesh - 22,488 0.13% - 15,013',
 '33 Andaman & Nicobar Islands - - - - -',
 '3 Uttar Pradesh 1,687,818 1,584,764 8.35% 239.656 1,166,817 1,123,982',
 '6 West Bengal 1,253,832 1,089,898 5.75% 164.820 793,223 739,525',
 '8 Andhra Pradesh 972,782 862,957 4.55% 130.501 672,018 621,301',
 '10 Madhya Pradesh 906,672 809,592 4.27% 122.431 561,801 522,009',
 '13 Haryana 831,610 734,163 3.87% 111.024 572,240 531,085',
 '15 Punjab 574,760 526,376 2.77% 79.601 418,868 397,669',
 '18 Chhattisgarh 329,180 304,063 1.60% 45.982 243,477 231,182',
 '22 Himachal Pradesh 165,472 153,845 0.81% 23.265 124,403 117,851',
 '24 Tripura 55,984 49,845 0.26% 7.538 40,583 36,963',
 '27 Meghalaya 36,572 33,481 0.18% 5.063 26,695 24,682',
 '29 Manipur 31,790 27,870 0.15% 4.215 20,673 19,300',
 '1 Maharashtra - 2,632,792 13.88% 398.145 - 2,039,074',
 '11 Kerala - 781,653 4.12% 118.206 - 559,412',
 '20 Uttarakhand - 245,895 1.30% 37.186 - 193,273',
 '25 Chandigarh - 42,114 0.22% 6.369 - 31,192',
 '31 Arunachal Pradesh - 24,603 0.13% 3.721 - 16,676',
 '2 Tamil Nadu 1,659,210 1,465,361 8.73% 1,167,776 1,079,894',
 '4 Karnataka 1,476,983 1,351,553 8.05% 1,035,131 976,948',
 '6 West Bengal 1,150,711 995,502 5.93% 713,376 662,432',
 '8 Telangana 881,873 782,370 4.66% 594,806 549,481',
 '10 Madhya Pradesh 827,019 737,156 4.39% 496,798 461,903',
 '12 Delhi 779,647 704,529 4.20% 568,265 529,739',
 '14 Bihar 562,710 486,776 2.90% 377,276 340,512',
 '16 Odisha 457,757 428,031 2.55% 344,437 327,805',
 '18 Jharkhand 301,242 271,990 1.62% 218,232 204,423',
 '20 Uttarakhand - 221,871 1.32% - 173,211',
 '22 Jammu & Kashmir - 129,877 0.77% - 91,666',
 '24 Tripura 50,227 44,835 0.27% 35,980 32,830',
 '26 Puducherry 34,823 31,415 0.19% 22,291 20,534',
 '28 Manipur 29,148 25,323 0.15% 18,549 17,228',
 '30 Nagaland - 24,534 0.15% - 15,381',
 '32 Mizoram 24,424 20,947 0.12% 17,797 15,372']

# 9. e the details most watched tv series of all time from imdb.com.

In [9]:
driver.get("https://www.imdb.com/list/ls095964455/")

In [19]:
Name=[]
Genre=[]
Runtime=[]
Rating=[]
Votes=[]

for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']/h3"):
    Name.append(i.text)
for g in driver.find_elements_by_xpath("//span[@class='genre']"):
    Genre.append(g.text)
for r in driver.find_elements_by_xpath("//span[@class='runtime']"):
    Runtime.append(r.text)
for t in driver.find_elements_by_xpath("//span[@class='ipl-rating-star__rating']"):
    Rating.append(t.text)
for v in driver.find_elements_by_xpath("//span[@name='nv']"):
    Votes.append(v.text)

Votes

['1,802,395',
 '847,590',
 '867,808',
 '260,212',
 '221,186',
 '281,318',
 '123,325',
 '257,700',
 '311,284',
 '410,798',
 '317,032',
 '732,184',
 '455,905',
 '821,474',
 '445,222',
 '153,961',
 '287,782',
 '280,780',
 '1,501,697',
 '241,743',
 '397,296',
 '483,520',
 '132,695',
 '129,549',
 '370,168',
 '210,237',
 '365,997',
 '367,749',
 '846,428',
 '612,308',
 '368,630',
 '339,178',
 '119,871',
 '113,386',
 '156,511',
 '141,559',
 '213,876',
 '435,435',
 '195,198',
 '365,913',
 '387,469',
 '54,650',
 '151,265',
 '471,162',
 '296,913',
 '51,742',
 '166,142',
 '208,899',
 '195,934',
 '202,496',
 '149,948',
 '653,397',
 '114,703',
 '308,350',
 '203,904',
 '502,989',
 '368,578',
 '419,710',
 '57,613',
 '102,714',
 '318,263',
 '67,247',
 '93,488',
 '179,496',
 '80,080',
 '65,758',
 '39,912',
 '138,022',
 '335,466',
 '236,558',
 '101,741',
 '166,169',
 '506,820',
 '92,560',
 '117,546',
 '335,078',
 '98,390',
 '188,796',
 '62,883',
 '15,559',
 '111,889',
 '120,537',
 '116,522',
 '31,779',
 '225,465',
 '113,515',
 '118,210',
 '67,851',
 '92,487',
 '161,905',
 '23,227',
 '167,575',
 '161,677',
 '567,371',
 '61,171',
 '44,214',
 '54,670',
 '165,470',
 '34,579',
 '188,167']

In [21]:
e=pd.DataFrame({'Name':Name,
               'Genre':Genre,
               'Runtime':Runtime,
               'Votes':Votes})

e

,Name,Genre,Runtime,Votes
0,1. Game of Thrones (2011–2019),"Action, Adventure, Drama",57 min,"1,802,395"
1,2. Stranger Things (2016– ),"Drama, Fantasy, Horror",51 min,"847,590"
2,3. The Walking Dead (2010–2022),"Drama, Horror, Thriller",44 min,"867,808"
3,4. 13 Reasons Why (2017–2020),"Drama, Mystery, Thriller",60 min,"260,212"
4,5. The 100 (2014–2020),"Drama, Mystery, Sci-Fi",43 min,"221,186"
...,...,...,...,...
95,96. Reign (2013–2017),"Drama, Fantasy",42 min,"44,214"
96,97. A Series of Unfortunate Events (2017–2019),"Adventure, Comedy, Drama",50 min,"54,670"
97,98. Criminal Minds (2005–2020),"Crime, Drama, Mystery",42 min,"165,470"
98,99. Scream: The TV Series (2015–2019),"Comedy, Crime, Drama",45 min,"34,579"
99,100. The Haunting of Hill House (2018),"Drama, Horror, Mystery",572 min,"188,167"

# 8.Scrape the details of Highest selling novels

In [3]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [15]:
Nm=[]
for i in driver.find_elements_by_xpath("//tr[@class='odd']"):
    Nm.append(i.text)
    
Nm

["2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children's Fiction",
 "4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children's Fiction",
 "6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children's Fiction",
 "8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children's Fiction",
 "10 Harry Potter and the Half-blood Prince:Children's Edition Rowling, J.K. 2,950,264 Bloomsbury Children's Fiction",
 '12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction',
 '14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas',
 '16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction',
 '18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction',
 '20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction',
 '22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science',
 '24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction',
 '26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books',
 '28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction',
 '30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction',
 "32 Time Traveler's Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction",
 "34 Bridget Jones's Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction",
 "36 Captain Corelli's Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction",
 '38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction',
 '40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General',
 "42 Angela's Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General",
 '44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction',
 '46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy',
 '48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction',
 "50 No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure",
 '52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction',
 '54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction',
 '56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure',
 '58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction',
 "60 Delia's How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General",
 '62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction',
 '64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction',
 '66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest',
 '68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction',
 '70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy',
 '72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure',
 '74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction',
 '76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing',
 '78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction',
 '80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet',
 '82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure',
 '84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General',
 "86 Memory Keeper's Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction",
 '88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction',
 '90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science',
 '92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction',
 '94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction',
 '96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction',
 '98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction',
 "100 Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General"]

In [21]:
Nam=[]
for c in driver.find_elements_by_xpath("//div[@class='embed block']"):
    Nam.append(c.text)
    
Nam

['Top 100 best selling books of all time\nUK sales only. Click heading to sort table. Download this data\nRank\nTitle\nAuthor\nVolume Sales\nPublisher\nGenre\nSOURCE: NIELSEN BOOK SCAN\n1 Da Vinci Code,The Brown, Dan 5,094,805 Transworld Crime, Thriller & Adventure\n2 Harry Potter and the Deathly Hallows Rowling, J.K. 4,475,152 Bloomsbury Children\'s Fiction\n3 Harry Potter and the Philosopher\'s Stone Rowling, J.K. 4,200,654 Bloomsbury Children\'s Fiction\n4 Harry Potter and the Order of the Phoenix Rowling, J.K. 4,179,479 Bloomsbury Children\'s Fiction\n5 Fifty Shades of Grey James, E. L. 3,758,936 Random House Romance & Sagas\n6 Harry Potter and the Goblet of Fire Rowling, J.K. 3,583,215 Bloomsbury Children\'s Fiction\n7 Harry Potter and the Chamber of Secrets Rowling, J.K. 3,484,047 Bloomsbury Children\'s Fiction\n8 Harry Potter and the Prisoner of Azkaban Rowling, J.K. 3,377,906 Bloomsbury Children\'s Fiction\n9 Angels and Demons Brown, Dan 3,193,946 Transworld Crime, Thriller & Adventure\n10 Harry Potter and the Half-blood Prince:Children\'s Edition Rowling, J.K. 2,950,264 Bloomsbury Children\'s Fiction\n11 Fifty Shades Darker James, E. L. 2,479,784 Random House Romance & Sagas\n12 Twilight Meyer, Stephenie 2,315,405 Little, Brown Book Young Adult Fiction\n13 Girl with the Dragon Tattoo,The:Millennium Trilogy Larsson, Stieg 2,233,570 Quercus Crime, Thriller & Adventure\n14 Fifty Shades Freed James, E. L. 2,193,928 Random House Romance & Sagas\n15 Lost Symbol,The Brown, Dan 2,183,031 Transworld Crime, Thriller & Adventure\n16 New Moon Meyer, Stephenie 2,152,737 Little, Brown Book Young Adult Fiction\n17 Deception Point Brown, Dan 2,062,145 Transworld Crime, Thriller & Adventure\n18 Eclipse Meyer, Stephenie 2,052,876 Little, Brown Book Young Adult Fiction\n19 Lovely Bones,The Sebold, Alice 2,005,598 Pan Macmillan General & Literary Fiction\n20 Curious Incident of the Dog in the Night-time,The Haddon, Mark 1,979,552 Random House General & Literary Fiction\n21 Digital Fortress Brown, Dan 1,928,900 Transworld Crime, Thriller & Adventure\n22 Short History of Nearly Everything,A Bryson, Bill 1,852,919 Transworld Popular Science\n23 Girl Who Played with Fire,The:Millennium Trilogy Larsson, Stieg 1,814,784 Quercus Crime, Thriller & Adventure\n24 Breaking Dawn Meyer, Stephenie 1,787,118 Little, Brown Book Young Adult Fiction\n25 Very Hungry Caterpillar,The:The Very Hungry Caterpillar Carle, Eric 1,783,535 Penguin Picture Books\n26 Gruffalo,The Donaldson, Julia 1,781,269 Pan Macmillan Picture Books\n27 Jamie\'s 30-Minute Meals Oliver, Jamie 1,743,266 Penguin Food & Drink: General\n28 Kite Runner,The Hosseini, Khaled 1,629,119 Bloomsbury General & Literary Fiction\n29 One Day Nicholls, David 1,616,068 Hodder & Stoughton General & Literary Fiction\n30 Thousand Splendid Suns,A Hosseini, Khaled 1,583,992 Bloomsbury General & Literary Fiction\n31 Girl Who Kicked the Hornets\' Nest,The:Millennium Trilogy Larsson, Stieg 1,555,135 Quercus Crime, Thriller & Adventure\n32 Time Traveler\'s Wife,The Niffenegger, Audrey 1,546,886 Random House General & Literary Fiction\n33 Atonement McEwan, Ian 1,539,428 Random House General & Literary Fiction\n34 Bridget Jones\'s Diary:A Novel Fielding, Helen 1,508,205 Pan Macmillan General & Literary Fiction\n35 World According to Clarkson,The Clarkson, Jeremy 1,489,403 Penguin Humour: Collections & General\n36 Captain Corelli\'s Mandolin Bernieres, Louis de 1,352,318 Random House General & Literary Fiction\n37 Sound of Laughter,The Kay, Peter 1,310,207 Random House Autobiography: General\n38 Life of Pi Martel, Yann 1,310,176 Canongate General & Literary Fiction\n39 Billy Connolly Stephenson, Pamela 1,231,957 HarperCollins Biography: The Arts\n40 Child Called It,A Pelzer, Dave 1,217,712 Orion Autobiography: General\n41 Gruffalo\'s Child,The Donaldson, Julia 1,208,711 Pan Macmillan Picture Books\n42 Angela\'s Ashes:A Memoir of a Childhood McCourt, Frank 1,204,058 HarperCollins Autobiography: General\n43 Birdsong Faulks, Sebastian 1,184,967 Random House General & Literary Fiction\n44 Northern Lights:His Dark Materials S. Pullman, Philip 1,181,503 Scholastic Ltd. Young Adult Fiction\n45 Labyrinth Mosse, Kate 1,181,093 Orion General & Literary Fiction\n46 Harry Potter and the Half-blood Prince Rowling, J.K. 1,153,181 Bloomsbury Science Fiction & Fantasy\n47 Help,The Stockett, Kathryn 1,132,336 Penguin General & Literary Fiction\n48 Man and Boy Parsons, Tony 1,130,802 HarperCollins General & Literary Fiction\n49 Memoirs of a Geisha Golden, Arthur 1,126,337 Random House General & Literary Fiction\n50 No.1 Ladies\' Detective Agency,The:No.1 Ladies\' Detective Agency S. McCall Smith, Alexander 1,115,549 Little, Brown Book Crime, Thriller & Adventure\n51 Island,The Hislop, Victoria 1,108,328 Headline General & Literary Fiction\n52 PS, I Love You Ahern, Cecelia 1,107,379 HarperCollins General & Literary Fiction\n53 You are What You Eat:The Plan That Will Change Your Life McKeith, Gillian 1,104,403 Penguin Fitness & Diet\n54 Shadow of the Wind,The Zafon, Carlos Ruiz 1,092,349 Orion General & Literary Fiction\n55 Tales of Beedle the Bard,The Rowling, J.K. 1,090,847 Bloomsbury Children\'s Fiction\n56 Broker,The Grisham, John 1,087,262 Random House Crime, Thriller & Adventure\n57 Dr. Atkins\' New Diet Revolution:The No-hunger, Luxurious Weight Loss P Atkins, Robert C. 1,054,196 Random House Fitness & Diet\n58 Subtle Knife,The:His Dark Materials S. Pullman, Philip 1,037,160 Scholastic Ltd. Young Adult Fiction\n59 Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation Truss, Lynne 1,023,688 Profile Books Group Usage & Writing Guides\n60 Delia\'s How to Cook:(Bk.1) Smith, Delia 1,015,956 Random House Food & Drink: General\n61 Chocolat Harris, Joanne 1,009,873 Transworld General & Literary Fiction\n62 Boy in the Striped Pyjamas,The Boyne, John 1,004,414 Random House Childrens Books G Young Adult Fiction\n63 My Sister\'s Keeper Picoult, Jodi 1,003,780 Hodder & Stoughton General & Literary Fiction\n64 Amber Spyglass,The:His Dark Materials S. Pullman, Philip 1,002,314 Scholastic Ltd. Young Adult Fiction\n65 To Kill a Mockingbird Lee, Harper 998,213 Random House General & Literary Fiction\n66 Men are from Mars, Women are from Venus:A Practical Guide for Improvin Gray, John 992,846 HarperCollins Popular Culture & Media: General Interest\n67 Dear Fatty French, Dawn 986,753 Random House Autobiography: The Arts\n68 Short History of Tractors in Ukrainian,A Lewycka, Marina 986,115 Penguin General & Literary Fiction\n69 Hannibal Harris, Thomas 970,509 Random House Crime, Thriller & Adventure\n70 Lord of the Rings,The Tolkien, J. R. R. 967,466 HarperCollins Science Fiction & Fantasy\n71 Stupid White Men:...and Other Sorry Excuses for the State of the Natio Moore, Michael 963,353 Penguin Current Affairs & Issues\n72 Interpretation of Murder,The Rubenfeld, Jed 962,515 Headline Crime, Thriller & Adventure\n73 Sharon Osbourne Extreme:My Autobiography Osbourne, Sharon 959,496 Little, Brown Book Autobiography: The Arts\n74 Alchemist,The:A Fable About Following Your Dream Coelho, Paulo 956,114 HarperCollins General & Literary Fiction\n75 At My Mother\'s Knee ...:and Other Low Joints O\'Grady, Paul 945,640 Transworld Autobiography: The Arts\n76 Notes from a Small Island Bryson, Bill 931,312 Transworld Travel Writing\n77 Return of the Naked Chef,The Oliver, Jamie 925,425 Penguin Food & Drink: General\n78 Bridget Jones: The Edge of Reason Fielding, Helen 924,695 Pan Macmillan General & Literary Fiction\n79 Jamie\'s Italy Oliver, Jamie 906,968 Penguin National & Regional Cuisine\n80 I Can Make You Thin McKenna, Paul 905,086 Transworld Fitness & Diet\n81 Down Under Bryson, Bill 890,847 Transworld Travel Writing\n82 Summons,The Grisham, John 869,671 Random House Crime, Thriller & Adventure\n83 Small Island Levy, Andrea 869,659 Headline General & Literary Fiction\n84 Nigella Express Lawson, Nigella 862,602 Random House Food & Drink: General\n85 Brick Lane Ali, Monica 856,540 Transworld General & Literary Fiction\n86 Memory Keeper\'s Daughter,The Edwards, Kim 845,858 Penguin General & Literary Fiction\n87 Room on the Broom Donaldson, Julia 842,535 Pan Macmillan Picture Books\n88 About a Boy Hornby, Nick 828,215 Penguin General & Literary Fiction\n89 My Booky Wook Brand, Russell 820,563 Hodder & Stoughton Autobiography: The Arts\n90 God Delusion,The Dawkins, Richard 816,907 Transworld Popular Science\n91 "Beano" Annual,The 0 816,585 D.C. Thomson Children\'s Annuals\n92 White Teeth Smith, Zadie 815,586 Penguin General & Literary Fiction\n93 House at Riverton,The Morton, Kate 814,370 Pan Macmillan General & Literary Fiction\n94 Book Thief,The Zusak, Markus 809,641 Transworld General & Literary Fiction\n95 Nights of Rain and Stars Binchy, Maeve 808,900 Orion General & Literary Fiction\n96 Ghost,The Harris, Robert 807,311 Random House General & Literary Fiction\n97 Happy Days with the Naked Chef Oliver, Jamie 794,201 Penguin Food & Drink: General\n98 Hunger Games,The:Hunger Games Trilogy Collins, Suzanne 792,187 Scholastic Ltd. Young Adult Fiction\n99 Lost Boy,The:A Foster Child\'s Search for the Love of a Family Pelzer, Dave 791,507 Orion Biography: General\n100 Jamie\'s Ministry of Food:Anyone Can Learn to Cook in 24 Hours Oliver, Jamie 791,095 Penguin Food & Drink: General']

# 7.Scrape the details of Data science recruiters from naukri.com.

In [3]:
btn=driver.get("https://www.naukri.com/browse-jobs")
btn

In [4]:
s_btn=driver.find_element_by_xpath("//input[@class='sugInp']")
s_btn.send_keys('Data Science')
btn=driver.find_element_by_xpath("//button[@class='qsbSrch blueBtn']")
btn.click()

In [6]:
Title=[]
for t in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    Title.append(t.text)
Title[:2]

['Data Science Application Lead', 'Manager Data Science Analytics']

In [7]:
Company=[]
for c in driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"):
    Company.append(t.text)
Company[:2]

['Data Science / Analytics Consultant', 'Data Science / Analytics Consultant']

In [12]:
Skills=[]
for s in driver.find_elements_by_xpath("//div[@class='job-description fs12 grey-text']"):
    Skills.append(s.text)
Skills[:2]

['Educational Qualification : minimum 15 years of full time education Must Have Skills : ...',
 'You should be able to mentorcoach junior team members to continuously upskill them']

In [9]:
job_location=[]
locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
for i in locations:
    if i.text is None :
        job_location.append("--") 
    else:
        job_location.append(i.text)
job_location[0:2]

['Bangalore/Bengaluru', 'Bangalore/Bengaluru']

In [10]:
cf=pd.DataFrame({'Title':Title,
                'Company':Company,
                'job_location':job_location})
cf

,Title,Company,job_location
0,Data Science Application Lead,Data Science / Analytics Consultant,Bangalore/Bengaluru
1,Manager Data Science Analytics,Data Science / Analytics Consultant,Bangalore/Bengaluru
2,Associate Director Data Science,Data Science / Analytics Consultant,Hyderabad/Secunderabad
3,Analyst - Data Science,Data Science / Analytics Consultant,Bengaluru
4,Python and DAta SCIENCE Developer,Data Science / Analytics Consultant,Mohali
5,Data Science Machine Learning Engineering manager,Data Science / Analytics Consultant,Not specified
6,"Manager , Data Science",Data Science / Analytics Consultant,Pune
7,Data Science Engineer,Data Science / Analytics Consultant,Bengaluru
8,Data Science on Data Lake Storage,Data Science / Analytics Consultant,Hyderabad/Secunderabad
9,Senior Data Science & Analytics Platform Engineer,Data Science / Analytics Consultant,Bangalore/Bengaluru
10,Data Science Lead,Data Science / Analytics Consultant,Gurgaon/Gurugram
11,Senior Data Science Engineer,Data Science / Analytics Consultant,Chennai
12,SAVP - Data Scientist - Data Science Team - In...,Data Science / Analytics Consultant,Gurgaon/Gurugram
13,Data Science Intern - DataTrained,Data Science / Analytics Consultant,"Noida, Bangalore/Bengaluru, Delhi / NCR"
14,Data Science Manager,Data Science / Analytics Consultant,Hyderabad/Secunderabad
15,Data Science Team Lead,Data Science / Analytics Consultant,Chennai
16,Data Science Team Lead,Data Science / Analytics Consultant,Chennai
17,Data Science Engineer,Data Science / Analytics Consultant,Bangalore/Bengaluru
18,Data Science - Fresher | Client of Ruboid | Ba...,Data Science / Analytics Consultant,Bangalore/Bengaluru
19,Data Science / Analytics Consultant,Data Science / Analytics Consultant,Mumbai

# 6.Scrape the details of top 100 songs on billiboard.com

In [89]:
driver.get("https://www.billboard.com/")

In [90]:
drp=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a")
drp.click()

In [38]:
Song=[]
for s in driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']"):
    Song.append(s.text)
Song[:2]

['Save Your Tears', 'Leave The Door Open']

In [40]:
Artist=[]
for a in driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']"):
    Artist.append(a.text)
    
Artist[:2]

['The Weeknd & Ariana Grande', 'Silk Sonic (Bruno Mars & Anderson .Paak)']

In [43]:
LW=[]
for l in driver.find_elements_by_xpath("//span[@class='chart-element__meta text--center color--secondary text--last']"):
    LW.append(l.text)
LW[:2]

['6 LW', '2 LW']

In [45]:
PK=[]
for p in driver.find_elements_by_xpath("//span[@class='chart-element__meta text--center color--secondary text--peak']"):
    PK.append(p.text)
PK[:2]

['1 Pk', '1 Pk']

In [47]:
WOC=[]
for w in driver.find_elements_by_xpath("//span[@class='chart-element__meta text--center color--secondary text--week']"):
    WOC.append(w.text)
WOC[:2]

['20 WoC', '8 WoC']

In [48]:
df=pd.DataFrame({'Song':Song,
                'Artist':Artist,
                'LW':LW,
                'PK':PK,
                'WOC':WOC})
df

,Song,Artist,LW,PK,WOC
0,Save Your Tears,The Weeknd & Ariana Grande,6 LW,1 Pk,20 WoC
1,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),2 LW,1 Pk,8 WoC
2,Peaches,Justin Bieber Featuring Daniel Caesar & Giveon,3 LW,1 Pk,6 WoC
3,Rapstar,Polo G,1 LW,1 Pk,3 WoC
4,Levitating,Dua Lipa Featuring DaBaby,5 LW,5 Pk,30 WoC
...,...,...,...,...,...
95,4 Da Gang,42 Dugg & Roddy Ricch,100 LW,67 Pk,4 WoC
96,Blame It On You,Jason Aldean,,97 Pk,1 WoC
97,Wasted On You,Morgan Wallen,92 LW,9 Pk,16 WoC
98,Way Less Sad,AJR,,99 Pk,1 WoC
99,Clear Da Air,Moneybagg Yo,,100 Pk,1 WoC

# 5.Scrape the details of trending repositories on Github.com

In [20]:
driver.get("https://github.com/trending")

In [24]:
Repository=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']"):
    Repository.append(i.text)

Repository[:2]

['slidevjs / slidev', 'Renovamen / playground-macos']

In [28]:
Desc=[]
for d in driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']"):
    Desc.append(d.text)
Desc[:2]

['Presentation Slides for Developers (Public Beta 🎉)',
 "My portfolio website simulating macOS's GUI, developed with React and tailwindcss."]

In [30]:
Language=[]
for t in driver.find_elements_by_xpath("//span[@itemprop='programmingLanguage']"):
    Language.append(t.text)

Language[:2]

['TypeScript', 'JavaScript']

In [33]:
Contributors=[]
for c in driver.find_elements_by_xpath("//a[@class='Link--muted d-inline-block mr-3']"):
    Contributors.append(c.text)
Contributors[:2]

['5,404', '128']

In [40]:
len(Contributors),len(Language),len(Desc),len(Repository)

(50, 20, 24, 25)

In [41]:
cg=pd.DataFrame({'Repository':Repository[:20],
                'Desc':Desc[:20],
                'Language':Language[:20],
                 'Contributors':Contributors[:20]
                })
cg

,Repository,Desc,Language,Contributors
0,slidevjs / slidev,Presentation Slides for Developers (Public Bet...,TypeScript,"5,404"
1,Renovamen / playground-macos,"My portfolio website simulating macOS's GUI, d...",JavaScript,128
2,Chia-Network / chia-blockchain,Chia blockchain python implementation (full no...,Python,705
3,sundowndev / phoneinfoga,Information gathering & OSINT framework for ph...,Go,52
4,dogecoin / dogecoin,very currency,C++,"6,439"
5,youngyangyang04 / leetcode-master,LeetCode 刷题攻略：200道题目刷题顺序，共60w字的详细图解，视频难点剖析，50余...,Dart,777
6,abuanwar072 / Flutter-Responsive-Admin-Panel-o...,Responsive Admin Panel or Dashboard using Flutter,JavaScript,"4,470"
7,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,C++,"1,315"
8,Light-City / CPlusPlusThings,C++那些事,JavaScript,"8,821"
9,microsoft / Web-Dev-For-Beginners,"24 Lessons, 12 Weeks, Get Started as a Web Dev...",JavaScript,"1,624"
10,google / zx,A tool for writing better scripts,Rust,"7,666"
11,rustdesk / rustdesk,The best open source remote desktop client sof...,Python,"1,804"
12,trimstray / the-book-of-secret-knowledge,"A collection of inspiring lists, manuals, chea...",C++,"1,663"
13,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,Python,243
14,ossrs / srs,"SRS is a simple, high efficiency and realtime ...",C++,"74,259"
15,lucidrains / x-transformers,A simple but complete full-attention transform...,JavaScript,"8,128"
16,TheAlgorithms / C-Plus-Plus,Collection of various algorithms in mathematic...,Python,"12,119"
17,discordjs / discord.js,A powerful JavaScript library for interacting ...,Java,"2,866"
18,home-assistant / core,🏡 Open source home automation that puts local ...,Rust,"21,536"
19,dromara / shenyu,High-Performance Java API Gateway,Python,"3,362"